/* Default Styling */
*, *::before, *::after {
  /* paddingやborderを要素のサイズに含める */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #3A4454;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", sans-serif;
}

h1, h2 {
  font-family: "Times New Roman", serif;
  line-height: 1.4;
}

h2, h3 {
  margin-top: 0;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

h2 {
  text-align: center;
}


/* Reusable Classes */

/* Header */

/* Main - Hero */

/* Main - Works */

/* Main - About */

/* Footer */
