/* Default Styling */
*, *::before, *::after {
  /* paddingやborderを要素のサイズに含める */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #3A4454;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", sans-serif;
}

h1, h2 {
  font-family: "Times New Roman", serif;
  line-height: 1.4;
}

h2, h3 {
  margin-top: 0;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-weight: 500;
}

h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  line-height: 1.8;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a, input, textarea {
  transition: all 0.15s ease-in-out;
}

/* Reusable Classes */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.button-primary,
.button-secondary {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  color: #FFF7F7;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.button-primary {
  background-color: #53687E;
}

.button-secondary {
  background: #6B4E71;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #495B6F;
}

.button-secondary:hover,
.button-secondary:focus {
  background: #5D4462;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

/* 隣接セレクタ（ある要素と隣り合う要素に対してのみ適用） */
.social-links li + li {
  margin-left: 20px;
}

/* Header */
.header {
  color: #FFF7F7;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

/* Main - Hero */

/* Main - Works */

/* Main - About */

/* Footer */
